@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
/* font-family: 'Righteous', cursive;
font-family: 'Sarala', sans-serif; 
font-family: 'Playfair Display', serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background-color: #fff0f3;
    overflow-x: hidden; 
}


.cabecalho {
    margin-bottom: 50px;
}

.logo {
    display: inline-block;
    height: 180px;
}

.cabecalho-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}


.decoracao {
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-between;
}


.menu {
    display: inline-block;
    font-family: 'Righteous', cursive;
    font-size: 22px;
    font-weight: 100;
    color: #EA5555;
    cursor: pointer;
}

.menu a {
    margin-left: 50px;
    color: inherit
}
.menu a:hover {
    border-bottom: 2px solid #faa4a4;
    color: #faa4a4;
}

.input-pesquisar {
    background-image: url('icones/loupe.png');
    background-repeat: no-repeat;
    background-position: 95%;
    background-color: #fcd3d3;
    width: 350px;
    height: 45px;
    border: none;
    outline: 0;
    border-radius: 15px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding-left: 17px;
    padding-right: 40px;
    color:#EA5555;
}

input::placeholder {
    color:#EA5555;
}

.conteudo-1 {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-evenly;
    font-family: 'Sarala', sans-serif;
    font-size: 16px;
}

.primeiraParte > .titulo {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 40px;
    color: #EA5555;
    margin: 20px;
}

.primeiraParte {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 40px;
}

.primeiraParte > .botao {
    background-color: #EA5555;
    border: none;
    box-shadow: 1px 1px 5px rgb(37, 37, 37);
    height: 30px;
    width: 30px;
    border-radius: 100px;
    margin-top: 20px;
    cursor: pointer;
}

.primeiraParte > .botao:active {
    box-shadow: none;
}

.seta {
    height: 10px;
    width: 20px;
    padding: 1px;
}

.segundaParte {
    display: none;
}

.conteudo-1 .fundo {
    display: inline-block;
    height: 700px;
    position: absolute;
    margin-left: 800px;
    margin-top: 60px;
}


.conteudo-1 .mulher {
    display: inline-block;
    position: relative;
    height: 600px;
    margin-left: 120px;
    margin-top: 100px;
}


.conteudo-2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    font-family: 'Sarala', sans-serif;
    font-size: 16px;
    margin-top: 100px;
    height: 600px;
}

.texto > h1 {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 40px;
    color: #EA5555;
    margin: 20px;
}

.texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 40px;
    margin-left: 95px;
}

.texto > .linha {
    margin-right: 160px;
}

.conteudo-2 > .fundo {
    display: block;
    height: 607px;
    position: absolute;
    margin-left: 700px;
    margin-top: 200px;
}

.container {
    display: grid;
    height: 150px;
    padding: 15px;
    grid-template-columns: 200px 200px;
    grid-template-rows: 50px 50px;
    position: relative;
    gap: 25px 40px;
    margin: 150px;
}

.container > .botao-2 {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-size: 18px;
    color: #EA5555;
    background-color: #fcd3d3;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 1px 1px 7px #EA5555;
}

.container > .botao-2:hover {
    background-color: #ffc4c4;
}

.container > .botao-2:active {
    box-shadow: none;
}

.container > .botao-2 > .item {
    height: 25px;
    margin-right: 5px;
}

.container > .botao-2, .item {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-left: 12px;
}


.rodape {
    background-color: #ea5555;
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 192px;
}

.rodape .flores {
    height: 80px;
}

.menuRodape {
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: center;
}

.instagram {
    height: 25px;
}

.email {
    height: 28px;
}

.telefone {
    height: 25px;
}

.menuRodape > .contat {
    margin-left: 30px;
}

.menuRodape, .itemRodape {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 12px;
    gap: 10px;
}

/*
   @media (max-width: 600px) {
            .muito-pequeno { display: block; }
        }

        @media (max-width: 1000px), (orientation: portrait) {
            .pequeno-retrato { display: block; }
        }

        @media (min-width: 500px) and (max-width: 1000px) {
            .intervalo { display: block; }
        }
*/

@media (max-width: 800px) {
    .logo { height: 80px;
    margin-left: 10px;}
    .decoracao {height: 50px;}
    .input-pesquisar {display: none;}
    .menu {font-size: 16px; flex-direction: column;}
    .conteudo-1 .fundo { display: none;}
    .conteudo-1 .mulher { display: none;}
    .conteudo-2 .fundo {display: none;}
    .container {display: none;}
    .conteudo-2 {flex-direction: column;}
    .texto {margin-top: 300px;}
    .linha {height: 128px;}
    .menuRodape {font-size: 10px; height: 40px;}
    .rodape .flores {display: none;}
    .instagram { height: 15px;}
    .email { height: 18px;}
    .telefone { height: 15px;}
    .menuRodape > .contat { margin-left: 0px;}
    .menuRodape, .itemRodape {gap: 0px}
}